:root { 
--black_900_3d:#0000003d; 
--gray_900_99:#1e1e1e99; 
--amber_200_b2:#fae28eb2; 
--gray_800_01:#474747; 
--black_900_3f:#0000003f; 
--gray_800_42:#41404242; 
--black_900_01:#0d0d0d; 
--yellow_900_af:#ce8d0daf; 
--blue_gray_900_a5:#1a1e3ba5; 
--blue_gray_900:#1a1e3b; 
--blue_gray_900_87:#1a1e3b87; 
--black_900_49:#0d0d0d49; 
--gray_600:#6c6c6c; 
--gray_600_21:#6c6c6c21; 
--black_900_0a:#0000000a; 
--gray_400:#b0b0b0; 
--gray_900_26:#1e1e1e26; 
--blue_gray_100:#d9d9d9; 
--black_900_8e:#0000008e; 
--gray_800:#434348; 
--yellow_900_63:#ce8d0d63; 
--yellow_900_bc:#ce8d0dbc; 
--blue_gray_100_6b:#d9d9d96b; 
--gray_400_01:#c7c7c7; 
--yellow_900_26:#ce8d0d26; 
--gray_100_82:#f6f6f682; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_16:#00000016; 
--yellow_900_d6:#ce8d0dd6; 
--blue_gray_100_01:#c9d3d8; 
--gray_600_19:#6c6c6c19; 
--black_900_1c:#0000001c; 
--black_900_1e:#0000001e; 
--yellow_900_35:#ce8d0d35; 
--black_900_23:#00000023; 
--black_900_66:#00000066; 
--black_900:#000000; 
--black_900_60:#00000060; 
--yellow_900:#ce8d0d; 
--blue_gray_900_68:#1a1e3b68; 
--blue_gray_900_21:#1a1e3b21; 
--yellow_900_6d:#ce8d0d6d; 
--black_900_26:#00000026; 
--yellow_900_2d:#ce8d0d2d; 
--black_900_a0:#000000a0; 
--gray_600_02:#808080; 
--gray_600_01:#7a7a7a; 
--black_900_2b:#0000002b; 
--blue_gray_900_b2:#1a1e3bb2; 
--orange_300:#daae55; 
--gray_100:#f6f6f6; 
--black_900_33:#00000033; 
--black_900_38:#00000038; 
}